.text-area-wrapper {
    position: relative;

    :global {
        .ant-input-textarea-affix-wrapper {
            background-color: #fff;

            textarea {
                margin-bottom: 32px;
            }
        }

        .anticon-smile {
            position: absolute;
            font-size: 20px;
            bottom: 10px;
            left: 10px;
            z-index: 100;

            &:hover {
                cursor: pointer;
            }
        }

        .ant-input-data-count {
            position: absolute;
            bottom: 10px;
            right: 20px;
        }

        .EmojiPickerReact {
            z-index: 999;
        }
        
        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #1677ff;
            border-radius: 10px;
        }
    }
}